# intellij file
/.idea
.log

#  macOS file
.DS_Store

# testing with `Jest`
/coverage

# production
/web/build

# misc
/web/node_modules
/web/.env
/web/.env.local
/web/.env.development.local
/web/.env.test.local
/web/.env.production.local
# dependencies
/web/.pnp.*
/web/.pnp.js

npm-debug.log*
yarn-debug.log*
yarn-error.log*
